<h2>Add New clothing</h2>

<form action="/clothing/create-clothing" method="post">

<label for="">Title</label>
<input type="text" name="Title">

<label for="">level</label>
<input type="text" name="level">

<label for="">Items needed</label>
<input type="text" name="itemsneeded">

<label for="">Hook needed</label>
<input type="text" name="hookneeded">

<label for="">Yarn Type</label>
<input type="text" name="yarntype">

<label for="">Image</label>
<input type="text" name="imageUrl">

<label for="">Stitches</label>
<input type="text" name="Stitches">

<label for="">creator</label>
<input type="text" name="creator">

<label for="">creator link</label>
<input type="text" name="link">

<button type="submit">Add clothing</button>

</form>
