<h2>Add New Room</h2>

<form action="/amigurumi/create-amigurumi" method="post">

<label for="">Title</label>
<input type="text" name="Title">

<label for="">level</label>
<input type="text" name="level">

<label for="">Items needed</label>
<input type="text" name="itemsneeded">

<label for="">Hook needed</label>
<input type="text" name="hookneeded">

<label for="">Yarn Type</label>
<input type="text" name="yarntype">

<label for="">Image</label>
<input type="text" name="imageUrl">

<label for="">Stitches</label>
<input type="text" name="Stitches">

<label for="">creator</label>
<input type="text" name="creator">

<label for="">creator link</label>
<input type="text" name="link">

<button type="submit">Add amigurumi</button>

</form>

{{!-- title: "Toothless",
level: "Intermediate",
itemsNeeded: [
    "Black yarn", 
    "black and green felt",
    "yarn needle",
    "stitch markers",
    "polyfil stuffing",
    "black yarn",
]
hookNeeded: "4.25 mm - US terms",
yarnType: "4 - Worsted/Aran",
image: <img src =".//CuddlesandCuriositiessite/images/Amigurumi/Toothless-img.png" alt ="toothless dragon"/>
Stitches: [
    "Ch - Chain",
    "SC - single crochet",
    "INC - single crochet increase",
    "DEC - single crochet decrease", 
    "HDC - Half-double Crochet",
    "BLO - Back-loop only",
    "MR - Magic ring", 
    "SL ST - Slip Stitch",
    "FO - Fasten off",
],
creator: "Nichole's Nerdy Knots",
creatorLink: <a href= "www.facebook.com/nicholesnerdyknots"> nicholesnerdyknots</a>; --}}