{{!-- member profile page --}}
<h1>Hi {{username}}</h1>


<div id ="member-location">
 <h2> Where I'm from </h2>
 <label> Location
      <input type="text" name="comment" placeholder="city/state" />
    </label>
</div>

<div id ="Current-WIP">
    <h2>What I'm working on ("Work in Progress")</h2>
    <label> WIP
      <input type="text" name="comment" placeholder="my current project" />
    </label>
    <a href="submit">Submit</a>
</div>

<div id="finished-products">
    <h2>Show off</h2>
    
<form action="/members/member-profile" method="POST" enctype="multipart/form-data">

<label for="">Name</label>
<input type="text" name="name">

<label for="">Description</label>
<input type="text" name="description">

<label for="">Media</label>
<input type="file" name="photo">

<button type="submit">SHOW OFF</button>

</form>
</div>