body {
  padding: 50px;
  font-family: 'Explora', cursive;
  font-family: 'Kaushan Script', cursive;
  background-color: #f9f5f2;
}
a {
  color: #04a7e7;
}

h1 {

  display: flex;
  align-items: center;
}
video {
  height: 30vh;
  border: none;

}

.logo {
  border: none;
  height:20vh;
  }


#free-Resources {
  display: flex;
  justify-content: space-around;
  
}

img {
  height: 30vh;
  border: 2px solid #7d3de4;

}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


  
ul {
  border-bottom: 2px solid #7d3de4;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}
 
ul li {
  line-height: 20px;
}
 
#to-right {
  padding: 1em;
  float: right;
}
 
#to-right span {
  color: #8b2fe1;
  font-size: 1.5em;
}
 
#form h2 {
  display: flex;
  justify-content: center;
}
 
#to-left {
  float: left;
}
 
#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

div {
  display: flex;
  align-items: center;
  border: #7d3de4;
  border-width: 2px;
}

.caption {
  display: flex;
  text-align: bottom;
  
}

#showoff-grid {
  grid-area: 1/2/4/6;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  border: none; */
}