<h1>
<p>Welcome to {{title}}</p>
</h1>
 <h3>Want to get started but don't know where to start? Take a look at our free resources!</h3>
    <div id="free-Resources">
      <br><h3>Check out some of our Videos</h3>
          <caption>Our quick and easy guide to the perfect Magic Ring</caption>
          <video src="https://res.cloudinary.com/doenxkhcf/video/upload/v1676561257/videos/MRtutorial_tk2ulm.mp4" controls>
          </video>
          
          <caption>Our quick and easy guide to the perfect Slip Knot</caption>
          <video src="https://res.cloudinary.com/doenxkhcf/video/upload/v1676561267/videos/SKtutorial_cwzrsw.mp4" controls>
          </video>
      <br>
      <caption>A full 3D Alphabet</caption>
          <video src="https://res.cloudinary.com/doenxkhcf/video/upload/v1676560622/videos/AbbysAlphabet_relgnm.mov" controls>
           </video>
      <br>
        <caption>A Giraffe Blanket</caption>
          <video src="https://res.cloudinary.com/doenxkhcf/video/upload/v1676580386/videos/Giraffeblanket_ze18mx.mov" controls>
           </video>
      <br>
       <caption>A NightLight Owl</caption>
          <video src="https://res.cloudinary.com/doenxkhcf/video/upload/v1676560607/videos/AbbyOwl_cz3pb5.mov" controls>
           </video>
      <br>
       <caption>Fingerless gloves</caption>
          <video src="https://res.cloudinary.com/doenxkhcf/video/upload/v1676561276/videos/fingerlessgloves_wik2us.mp4" controls>
           </video>
      <br>
      
    
    </div>
    <footer>
      <h3> Looking for some Inspiration? Take a look at some of our favorite Content Creators</h3>
    <div id ="Inspiration1">
    <div class="thumbnail">
      <a href="https://craftyintentions.com/#/eastern-dragons/">
        <img src="/images/inspo/CraftyIntention-Inspo2a.png" alt="Eastern Dragon" />
        <br>
        <div class="caption">
          <p>Crafty Intentions has some of the most beautiful patterns I've ever seen. They're easy to follow and to understand!</p>
      </a>
        </div>
      </div>
  
  <div id="Inspiration2">
    <div class="thumbnail">
      <a href="https://www.wickedlyhandmade.com/">
        <img src="/images/inspo/wickedlyhandmadeinspo1a.png" alt="Grunge fairy cardigan" />
        <br>
        <div class="caption">
          <p>Wickedly Handmade has patterns that are truly addicting to make! Can you believe this Hexagon cardigan is Freehanded? AND has over 27 colors in it?</p>
      </a>
        </div>
  </div>
  <div id="Inspiration3">
      <div class="thumbnail">
      <a href="https://www.thedreamcrochet.com/">
        <img src="/images/inspo/The+Wallum+overall+crochet+dress-1a.png" alt="crochet dress"/>
        <br>
        <div class="caption">
          <p>The Dream Crochet has patterns for EVERYONE! Her patterns are easy to follow and she's always ready to answer to a question for you!</p>
      </a>
        </div>
    </div>
  </div>
  </footer>