<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Explora&family=Kaushan+Script&display=swap" rel="stylesheet">
  </head>
  <body>
     <nav>
        <img src="/images/CuddlesandCuriositiesLogo.png" class ="logo" alt="Logo"/>
      <ul>
          <li id="to-right">
          <a href="/"> Home</a> <span> | </span>
        <a href="/members/signup">Signup</a> <span> | </span>
        <a href="/members/login">Login</a> <span> | </span>
        <a href="/members/member-profile">Profile</a> <span> | </span>
        <a href="/members/allpatterns">All Patterns</a>  <span> | </span>
        <a href="/members/findpatterns">Find Patterns</a>  <span> | </span>
        <a href="/members/logout">Logout</a> <span> | </span>
        </li>
      </ul>
    </nav>
    {{{body}}}
      
  </body>
</html>

