<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Explora&family=Kaushan+Script&display=swap" rel="stylesheet">
  </head>
  <body>
     <nav>
        <img src="/images/CuddlesandCuriositiesLogo.png" class ="logo" alt="Logo"/>
      <ul>
          <li id="to-right">
          <a href="/"> Home</a> <span> | </span>
        <a href="/members/signup">Signup</a> <span> | </span>
        <a href="/members/login">Login</a> <span> | </span>
        <a href="/members/member-profile">Profile</a> <span> | </span>
        <a href="/members/allpatterns">All Patterns</a>  <span> | </span>
        <a href="/members/findpatterns">Find Patterns</a>  <span> | </span>
        <a href="/members/logout">Logout</a> <span> | </span>
        </li>
      </ul>
    </nav>
    {{{body}}}
      <h3>Want to get started but don't know where to start? Take a look at our free resources!</h3>
    <div id="free-Resources">
      <br><h3>Free Video Tutorials</h3>
          <caption>Our quick and easy guide to the perfect Magic Ring</caption>
          <video src="https://res.cloudinary.com/doenxkhcf/video/upload/v1676561257/videos/MRtutorial_tk2ulm.mp4" controls>
          <p>
          Your browser doesn't support HTML video. Here is a
          <a href="https://res.cloudinary.com/doenxkhcf/video/upload/v1676561257/videos/MRtutorial_tk2ulm.mp4">link to the video</a> instead.
          </p>
          </video>
          
          <caption>Our quick and easy guide to the perfect Slip Knot</caption>
          <video src="https://res.cloudinary.com/doenxkhcf/video/upload/v1676561267/videos/SKtutorial_cwzrsw.mp4" controls>
          <p>
          Your browser doesn't support HTML video. Here is a
          <a href="https://res.cloudinary.com/doenxkhcf/video/upload/v1676561267/videos/SKtutorial_cwzrsw.mp4">link to the video</a> instead.
          </p>
          </video>
      <br>
      <h3> Free Patterns</h3>
      
    </div>
    <footer>
      <h3> Looking for some Inspiration? Take a look at some of our favorite Content Creators</h3>
    <div id ="Inspiration1">
    <div class="thumbnail">
      <a href="https://craftyintentions.com/#/eastern-dragons/">
        <img src="/images/inspo/CraftyIntention-Inspo2a.png" alt="Eastern Dragon" />
        <br>
        <div class="caption">
          <p>Crafty Intentions has some of the most beautiful patterns I've ever seen. They're easy to follow and to understand!</p>
      </a>
        </div>
      </div>
  
  <div id="Inspiration2">
    <div class="thumbnail">
      <a href="https://www.wickedlyhandmade.com/">
        <img src="/images/inspo/wickedlyhandmadeinspo1a.png" alt="Grunge fairy cardigan" />
        <br>
        <div class="caption">
          <p>Wickedly Handmade has patterns that are truly addicting to make! Can you believe this Hexagon cardigan is Freehanded? AND has over 27 colors in it?</p>
      </a>
        </div>
  </div>
  <div id="Inspiration3">
      <div class="thumbnail">
      <a href="https://www.thedreamcrochet.com/">
        <img src="/images/inspo/The+Wallum+overall+crochet+dress-1a.png" alt="crochet dress"/>
        <br>
        <div class="caption">
          <p>The Dream Crochet has patterns for EVERYONE! Her patterns are easy to follow and she's always ready to answer to a question for you!</p>
      </a>
        </div>
    </div>
  </div>
  </footer>
  </body>
</html>

