<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Explora&family=Kaushan+Script&display=swap" rel="stylesheet">
  </head>
  <body>
     <nav>
      <ul>
        <li id="to-left">
          <p><a href="/"> Home </a></p>
        </li>
        <li id="to-right">
        <a href="/members/signup">Signup</a> <span> | </span>
        <a href="/members/login">Login</a> <span> | </span>
        <a href="/members/member-profile">Profile</a> <span> | </span>
        <a href="/members/logout">Logout</a> <span> | </span>
        </li>
      </ul>
    </nav>
    {{{body}}}
    <div class="thumbnail">
      <a href="https://craftyintentions.com/#/eastern-dragons/">
        <img src="/images/inspo/CraftyIntention-Inspo2a.png" alt="Eastern Dragon" />
        <div class="caption">
          <p>Lorem ipsum...</p>
      </a>
        </div>
  
    <div class="thumbnail">
      <a href="https://www.wickedlyhandmade.com/">
        <img src="/images/inspo/wickedlyhandmadeinspo1a.png" alt="Grunge fairy cardigan" />
        <div class="caption">
          <p>Lorem ipsum...</p>
      </a>
        </div>
      <div class="thumbnail">
      <a href="https://www.thedreamcrochet.com/">
        <img src="/images/inspo/The+Wallum+overall+crochet+dress-1a.png" alt="crochet dress"/>
        <div class="caption">
          <p>Lorem ipsum...</p>
      </a>
        </div>
    </div>
 
  </body>
</html>

