<div id="form">
  <h2>Signup</h2>
  <form action="/users/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="Username" />
    </label>

     <label> Email
      <input type="text" name="Email" placeholder="Email" />
    </label>

      <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

     <label> Craft
      <input type="text" name="comment" placeholder="Crochet or Knit?" />
    </label>

    <button type="submit">Create account</button>

  </form>
</div>

